body {
    background-color: #DDC9B4;
}
.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
    color:#7A6C5D ;
}

h1{
    color: #C17C74;
    font-size: 50px;
    text-align: center;
    font-family: "Libertinus Keyboard", system-ui;
}

h2{
    color: #2A3D45;
    font-size: 25px;
}

ul{
    color: #2A3D45;
    outline: #2A3D45;
;

}

.experience{
    margin: 10px;
    border: 2px solid #7A6C5D;
    padding: 10px;
    border-radius: 8px;
}

p{
    color: #2A3D45;
}


